h1 {
    text-align: center;
    margin: 20px;
}

.container {
    width: 160px;
    height: 105px;
    perspective: 400;
    float: left;
    margin: 10px;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s;

}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: aquamarine;
}

.back {
    width: 100%;
    height: 100%;
}


/*Here we have some test CSS...*/

#practicePic,
#practice2 {
    margin: 10px;
    width: 200px;
    transition: all 1s;
    transform-style: preserve-3d;
    perspective: 1000;
}


/*Here we have some Canvas CSS*/

.canvas {
    border: black solid 1px;
}

#applePic, #paprika, #berry {
    width: 100px;
}

#berry {
    transition: all 3s;
    opacity: 0;
}

#coolCanvas {
    border: purple dotted 3px;
}
