* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto-regular, sans-serif;
    line-height: 20px;
}

#wrapper {
    width: 100%;
    background-color: rgba(255, 213, 84, 0.1)
}

#current {
    text-align: center;
    list-style: none;
    padding: 10px;
}

#current>li {
    margin-left: 70px;
}

#sun {
    width: 30px;
}

#logo {
    width: 60px;
    margin: 10px;
}

#temps,
#conditions,
#wind {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 10px;
}

#temps {
    background-color: #ffd554;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

#temps>li {
    display: inline-block;
    width: 40%;
    text-align: center;
    vertical-align: top;
}

#wind>li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

#wind {
    padding-bottom: 100px;
    border-bottom: black solid 2px;
}

#location>li {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}

.medium-screen,
.large-screen, #roadPic {
    display: none;
}

@media screen and (min-width: 600px) {
    .medium-screen {
        display: block;
        padding: 10px;
    }
    nav {
        margin-right: 40px;
        float: right;
    }
    #current>li {
        display: inline-block;
        padding: 10px;
    }
    #current>li>a:hover {
        padding: 5px;
        border: black solid 1px;
    }
    #wind {
        padding-top: 60px;
        border-top: black solid 2px;
    }
    #wind>li:first-child {
        border-right: black double 4px;
    }
    table {
        margin: auto;
        border: black solid 1px;
        background-color: #ffd554;
    }
    caption {
        padding: 10px;
        font-weight: bold;
    }
    td {
        padding: 20px;
    }
    th {
        text-align: center;
        border-bottom: black solid 1px;
    }
}

@media screen and (min-width: 1024px) {
    .large-screen {
        display: inline-block;

    }

    #sunni {
        display: inline-block;
        float: right;
        margin-top: -70px;
        margin-right: 60px;
    }

    #precip, #wind {
        width: 60%;
        padding: 40px;
    }
    #wind>li {
        display: block;
        margin:auto;
        padding: 10px;
    }
    #wind>li:first-child {
        border: none;
    }
    #roadPic {
        display: block;
        float: right;
        width: 400px;
        margin: -90px;
        margin-right: 30px;
    }


}


/*VisitorAnalysis page*/

#analysis,
#persona,
#contrast {
    border: 2px solid;
    padding: 20px;
}


/*
p {
    margin-left: 20px;
    width: 40%;
}
*/

#heritage {
    width: 300px;
    /*    float: right;*/
    /*    margin-top: -575px;*/
}

#carlie,
#josh,
#meredith {
    width: 200px;
}


/*sitePlanning page*/

.wireframe {
    width: 300px;
}

.presentPic {
    width: 300px;
    border: black solid 3px;
}
