* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto-regular, sans-serif;
    line-height: 20px;
}

#wrapper {
    width: 100%;
    background-color: rgba(255, 213, 84, 0.1)
}

h1 {
    font-size: 1.2em;
}

#cities {
    text-align: center;
    list-style: none;
    padding: 10px;
}

#cities>li {
    margin-left: 70px;
}

#sun {
    width: 30px;
}

#logo {
    width: 60px;
    margin: 10px;
}

#temps,
#conditions,
#wind {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 10px;
}

#temps {
    font-size: 1em;
    background-color: #ffd554;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

#temps>li {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#wind {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 100px;
    border-bottom: black solid 2px;
}

#location>li {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}

#hourlyTemps {
    text-align: center;
}

#hours {
    display: flex;
    padding: 10px;
}

.daily {
    margin:auto;
    list-style: none;
    padding: 2px;
    width: 20%;
}
.daily>li {
    padding: 5px;
}

.hour {
    font-weight: bold;
}

#hours {
    border: black solid 2px;
    background-color: #ffd554;
}

.dailyTwo {
    border-right: black solid 2px;
}

#sketches {
    padding: 15px;
    display: flex;
    align-items: flex-start;
}
.medium-screen,
.large-screen,
#roadPic {
    display: none;
}

@media screen and (min-width: 600px) {
    .medium-screen {
        display: block;
        padding: 10px;
    }
    nav {
        margin-right: 40px;
        float: right;
    }
    #cities>li {
        display: inline-block;
        padding: 10px;
    }

    #wind {
        padding-top: 60px;
        border-top: black solid 2px;
    }

    #hours {
        display: block;
    }
    .daily {
        display: flex;
        flex-direction: row;
        width: 100%;
      justify-content: space-around;
    }
    .hour {
        border-bottom: black solid 1px;
    }
    .dailyTwo {
        border: none;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1024px) {
    .large-screen {
        display: inline-block;
    }
    #temps {
        text-align: left;
    }
    #temps>li {
        width: 30%;
        text-align: center;
    }
    #sunni {
        display: inline-block;
        float: right;
        font-size: 1.5em;
        margin-top: -70px;
        margin-right: 10%;
    }
    #precip,
    #wind {
        width: 60%;
        padding: 40px;
    }
    #wind {
        flex-direction: column;
    }
    #wind>li {
        padding: 10px;
    }
    #roadPic {
        display: block;
        float: right;
        width: 400px;
        margin: -90px;
        margin-right: 30px;
    }
    .dailyTwo {
        margin-bottom: 60px;
    }
}


/*VisitorAnalysis page*/

#analysis,
#persona,
#contrast {
    border: 2px solid;
    padding: 20px;
}


/*
p {
    margin-left: 20px;
    width: 40%;
}
*/

#heritage {
    width: 300px;
    /*    float: right;*/
    /*    margin-top: -575px;*/
}

#carlie,
#josh,
#meredith {
    width: 200px;
}


/*sitePlanning page*/

.wireframe {
    width: 300px;
}

.presentPic {
    width: 300px;
    border: black solid 3px;
}
